<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Registration Form</h2>
  <form class="form-horizontal" method="post" action="#" enctype="multipart/form-data">
    {%csrf_token%}

    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">First Name :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Last Name :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">UserName :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter UserName" name="user_name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Mobile Number :</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="mobile" placeholder="Enter Mobile" name="mobile">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="doj">Select DOJ :</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" id="doj" name="doj">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="department">Department :</label>
      <div class="col-sm-10">
        <select class="form-control" id="department" name="dept_name">
          <option value="Select Option"></option>
          {% for dep_obj in dept %}
            <option value="{{dep_obj.dept_name}}">{{dep_obj.dept_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="designation">Designation :</label>
      <div class="col-sm-10">
        <select class="form-control" id="designation" name="designation">
            <option value="Select Option"></option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Senior Software Engineer">Senior Software Engineer</option>
            <option value="Team Leader">Team Leader</option>
            <option value="Manager">Manager</option>
            <option value="HR">HR</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address :</label>
      <div class="col-sm-5">
        <textarea class="form-control" name="address" id="address" rows="5" ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="file">Resume :</label>
      <div class="col-sm-5">
        <input type="file" class="form-control" id="file" name="resume">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="dp">Image :</label>
      <div class="col-sm-5">
        <input type="file" class="form-control" id="dp" name="image">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
         <a href="/portal/login/"><button class="btn btn-success">Login</button></a>
      </div>
    </div>
</div>
</body>
</html>

